*{
    margin: 0;
    padding: 0;
    /* margin: auto; */
}
/* .black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  } */
  

body{
    background-image: url(bg8.jpg);
    background-size: contain;
    width: 100%;
    margin: auto;;
}
.navbar{
    font-family: black ops one;    
}
.navbar-nav{
    margin-left: 650px;
}
@media screen and (max-width: 720px){
    .navbar-nav{
        margin-left: 10px;

    }
}
.navbar-nav li :hover{
    background-color: black;
    border-radius: 20px;
    color: aliceblue;
    scale: 1.1;
}

.navbar-brand{
    border:2px solid rgb(215, 228, 240);
    border-radius: 30px;
    /* color: rgb(230, 64, 14); */
    padding: 5px;
}

@media screen and (max-width: 720px){
 
.carousel-inner img{
/* width: 50%; */
/* border-radius: 50%;    */
height: 10px;
}
}

.main-card{
    display: flex;
    /* flex-direction: column; */
}
.card{
    height: 350px;
    margin: auto;
    margin-top: 20px;
    font-family: black ops one;
    text-align: center;
    border-radius: 50px;
}
.card img{
    height: 200px;
    border-radius: 50px;
}
@media screen and (max-width: 720px){
    .card{
        margin-left: 10px;
    }
}


.mb{
    background-color: rgb(87, 85, 85);
    width: 50%;
    margin: auto;
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-family: black ops one;
    font-size: 20px;
    color: aliceblue;
}
.mb table{
    margin: auto;
}

.mb input{
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
@media screen and (max-width: 720px){
    .mb{
        width: 90%;
        font-size: 15px;
    }
    .mb table{
        justify-content: center;

    }
}

.accordion{
    width: 80%;
    margin: auto;
    border: 3px solid white;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: black ops one; 
}
.carousel{
    height: 600px;

}
.carousel img{
    height: 600px;

}